.label {
  margin-bottom: 8px;
}

.input {
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;

  border-radius: 10px;

  outline: none;
}

.input:not(:last-child) {
  margin-bottom: 20px;
}
