.form {
  display: flex;
  flex-direction: column;
  /* margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px; */
  /* padding-top: 50px;
  padding-bottom: 50px; */

  /* border: 1px solid var(--accent-color); */
  border-radius: var(--border-radius);
}

.button {
  max-width: 320px;
  height: 50px;
  padding: 0 15px;
  margin: 0 auto;

  font-size: 20px;

  border-radius: var(--border-radius);
}
