.contactItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  border: 1px solid var(--accent-color);
  border-radius: var(--border-radius);
}

.contactItem:not(:last-child) {
  margin-bottom: 10px;
}

.caption {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

.caption:last-child {
  margin-bottom: 0;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.button:hover {
  background-color: var(--accent-color);
}
