.modalOpen {
  animation: modalOpen var(--transition-duration) var(--transition-timing-function);
}

.modalClose {
  animation: modalClose var(--transition-duration) var(--transition-timing-function);
}

.modalContentOpen {
  animation: modalContentOpen var(--transition-duration) var(--transition-timing-function);
}

.modalContentClose {
  animation: modalContentClose var(--transition-duration) var(--transition-timing-function);
}

@keyframes modalOpen {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes modalClose {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes modalContentOpen {
  0% {
    transform: translateX(-1500px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes modalContentClose {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-1500px);
  }
}
