.modalClose {
  animation: modalClose var(--transition-duration) var(--transition-timing-function);
}

.modalContentClose {
  animation: modalContentClose var(--transition-duration) var(--transition-timing-function);
}

@keyframes modalClose {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes modalContentClose {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-1500px);
  }
}
