.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;
}

.navigation__list {
  display: flex;
  gap: 10px;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #f69c02;
}

.link.active {
  color: #e84a5f;
}
