.header {
  height: var(--header-height);

  color: var(--accent-color);

  border-bottom: 1px solid var(--accent-color);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1600px;
  height: 100%;
}
